################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/output
/resources/point_cloud.ply
/DepthSplat.sln - Verknüpfung.lnk
